meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
title budget
style.
	html {
		height: 100%;
	}
	body {
		height: 100%;
		display: none;
		padding-top: 56px;
	}