nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
	a.navbar-brand(href='#') budget
	button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarSupportedContent.collapse.navbar-collapse
		form#addExpenseForm.form-inline
			.input-group.input-group-sm
				input#expenseTypeInput.form-control.mr-sm-2(type='text' placeholder='Add Expense Type' aria-label='Add Expense Type')
				.input-group-append
					button#addExpenseButton.btn.btn-outline-success(type='submit') Add
		table.table.table-striped.table-bordered.table-sm.text-center.table-light
			thead
				th Amount
				th Category
			tbody#expensesTable