.row.h-100.justify-content-center
	.col-md-auto
		.row.justify-content-center.align-items-center.h-25
			.col.text-center
				button#signupButton.btn.btn-primary(type='submit') Sign Up
		.row.justify-content-center.align-items-center.h-25
			.col.text-center
				h5 -- or --
		.row.justify-content-center.align-items-center
			.col
				form#loginForm
					.form-group
						label(for='userInput') Username
						input#userInput.form-control(autofocus type='text' placeholder='Username')
					.form-group
						label(for='passwordInput') Password
						input#passwordInput.form-control(type='password' placeholder='Password')
					button.btn.btn-primary(type='submit') Login